#wrapper {
    max-width: 480px;
    margin: auto;
}
#description, #search, #todo-list {
    font-size: 1.5em;
}
.complete {
    text-decoration: line-through;
    color: green;
}
li {
    color: red;
}