#wrapper {
    max-width: 600px;
    padding: 20px;
    margin: auto;
}
#description, #search, #todo-list {
    font-size: 1.5em;
}
ul {
    list-style-type: decimal;
    list-style-position: inside;
}
li {
    color: #333333;
    font-size: 2em;
}
li:hover {
    cursor: pointer;
    color: green;
}
.complete {
    text-decoration: line-through;
    color: green;
}
.close {
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}